numpy
pandas
langchain 
langchain_community
pypdf
sentence-transformers
transformers
langchain-huggingface
langchain-text-splitters
langchain-core
PyPDF2
bs4
chromadb
chromadb.utils
chromadb.config
uuid
re
requests
nltk
google-generativeai>=0.3.0
Pillow>=9.0.0
rank_bm25
json


streamlit
nltk==3.8.1